* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}
a {
  text-decoration: none;
}
.main-container {
  /*height: 100vh;*/

  width: 100%;
  height: auto;
  background: url("https://res.cloudinary.com/dfkn1kzs0/image/upload/v1588506071/bg-desktop_rfy0wb.svg");
  background-color: hsl(257, 40%, 49%);
  background-size: cover;
  background-position: center;
  /*display:flex;
  flex-direction:column;
  justify-content:space-around;
  text-align:center;
  padding: 20px;*/
  min-height: 100vh;
}
.container-wrap {
  border: 1px solid transparent;
  max-width: 1250px;
  margin: auto;
}
.header {
  margin: 35px 0 60px 0px;
  /*text-align: left;
    
    margin-left: 5%;*/
}

.main-section {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  /*border: 1px solid green;*/
}
.land-img {
  /*border: 1px solid red;*/
  /*responsive*/
  max-width: 99%;
  height: auto;
  /* */
  /*centerized*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent !important;
}

.land-img > img {
  max-width: 100%;
  /*this is the only way to make image responsive inside the flexbox*/
  margin: auto;
  display: block;
}
.land-info {
  width: 49%;
  height: auto;
  color: white;
  /*border: 1px solid black;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 40px 0 0 20px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 45px;
  line-height: 1.2;
}
.desc {
  margin-top: 22px;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 30px;
}
.register-button {
  font-size: 20px;
  padding: 9px 13px;
  background-color: white;
  width: 220px;
  border-radius: 30px;
  color: #674baf;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 8px 17px -8px black;
  cursor: pointer;
  border: 3px solid white;
}
.register-button:hover {
  color: white;
  background: rgba(103, 75, 175, 0.9);
}
.social-icons {
  color: white;
  margin: 10px 0px;
  cursor: pointer;
  /*border:1px solid red;*/
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 20px;
}
.social-icons > i {
  font-size: 18px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}

.cont-footer {
  margin: 0px;
  padding: 2rem 4rem;
  text-align: center;
}
.cont-footer p {
  color: hsl(0, 0%, 100%);
  display: block;
}
.cont-footer a {
  color: hsl(312, 79%, 62%);
}
.cont-footer a:hover {
  color: hsl(277, 64%, 31%);
}

/*@media screen and (max-width: 1439px) {
  
}*/
@media screen and (max-width: 1146px) {
  .land-info {
    width: 49%;
    margin: 20px 0 0 20px;
  }
  .title {
    font-size: clamp(1.4rem, 2.8vw, 2.8rem);
    line-height: 1.5;
  }
}
@media screen and (max-width: 920px) {
  .land-info {
    width: 80%;
    margin: 10px 0 0 5px;
  }
}

@media screen and (max-width: 765px) {
  .main-section {
    flex-direction: column;
  }
  .land-info {
    width: 85%;
    text-align: center;
    margin: 20px auto;
  }
  .register-button {
    width: 200px;
    padding: 2px;
    margin: auto;
    margin-top: 20px;
  }
  .social-icons {
    justify-content: center;
    margin-top: 50px;
  }
}
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.screen {
  background: linear-gradient(90deg, #5d54a4, #7c78b8);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #5c5696;
  margin: 100px 0 0 0;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #6c63ac;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #5d54a4, #6a679e);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #7e7bb9;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 60px;
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 30px;
  color: #7875b5;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4c489d;
  box-shadow: 0px 2px 2px #5c5696;
  cursor: pointer;
  transition: 0.2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #6a679e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7875b5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
