<html>

  <head>
    <title>Reverse Proxy</title>
    <script src="/cbor.js"></script>
    <meta charset="UTF-8">

    <!-- ===== Main CSS ===== -->
    <link rel="stylesheet" type="text/css" href="./style.css">

    <!-- ===== Fontawsome ICONS ===== -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">

    <!--===== Google Fonts =====-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


    <!--Browser logo-->
    <link rel="icon" type="image/png" sizes="32x32" href="" />
  </head>

  <body>
    <div class="main-container">
      <div class="container-wrap">
        <nav class="header">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/The_FIDO_Alliance_Logo.png" width="300"
            height="100" alt="logo" />
        </nav>
        <div class="main-section">
          <div class="land-img">
            <img
              src="https://ouch-cdn2.icons8.com/xaK0Ij0L5SDjV95edHBibpGemBXrRNYZd3tD7OWyKTw/rs:fit:1368:912/czM6Ly9pY29uczgu/b3VjaC1wcm9kLmFz/c2V0cy9zdmcvOTUz/LzkyMzZlNzU5LThh/MWEtNDE2My1iNzkz/LTNmZDFmZTA3NDA4/OC5zdmc.png"
              width="600" alt="mockups" />
          </div>
          <div class="land-info">
            <div class="title">Reverse Proxy project by Team Unproxy</div>
            <p class="desc">Maintaining student attendance has been a problem in various educational institutions. Some
              has resorted to using manual
              attendance, which is very vulnerable to proxy attendances. Some are using biometric attendance systems
              which is not
              efficient and so on.<br />
              Under the theme of education, reverse-proxy is a web-based framework that can be used to handle student
              attendance in an
              institution which is more seamless than the currently used digital attendance systems. It can be used in
              both online
              education and offline education modes seamlessly.<br /> Our amazing and hardworking team includes Aditya
              Mitra, Rishita Shaw,
              Anisha Ghosh and Samhita.
            </p>

          </div>
        </div>

      </div>
    </div>
  </body>

</html>
