<html>

  <head>
    <title>Fido 2.0 webauthn demo</title>
    <script src="/cbor.js"></script>
    <meta charset="UTF-8">

    <!-- ===== Main CSS ===== -->
    <link rel="stylesheet" type="text/css" href="../static./style.css">

    <!-- ===== Fontawsome ICONS ===== -->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">

    <!--===== Google Fonts =====-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">


    <!--Browser logo-->
    <link rel="icon" type="image/png" sizes="32x32" href="" />
  </head>

  <body>
    <div class="main-container">
      <div class="container-wrap">
        <nav class="header">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/The_FIDO_Alliance_Logo.png" width="300"
            height="100" alt="logo" />
        </nav>
        <div class="main-section">
          <div class="land-img">
            <img src="https://dx6c24b36r0ke.cloudfront.net/uploads/billboard-images/homepage.svg" alt="mockups" />
          </div>
          <div class="land-info">
            <div class="title">WebAuthn demo using python-fido2</div>
            <p class="desc">This demo requires a browser supporting the WebAuthn API!
              <br />
              Available actions
            </p>
            <button class="register-button">
              <a href="/register.html">Register</a>
            </button>
            <br />
            <button class="register-button">
              <a href="/authenticate.html">Authenticate</a><br>
            </button>
            <br />
            <p>
              To allow the testing of authenticating with legacy U2F credentials, you can
              also register a U2F credential:
              <a href="/u2f.html">Register U2F</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </body>

</html>
