<html>

	<head>
		<title>
			Instructor Portal
		</title>
		<script type="text/javascript" src="qrcode.js"></script>
		<link rel="stylesheet" href="../static/style.css">

	</head>

	<body>
		<div class="container">
			<div class="screen">
				<div class="screen__content">
					<div class="login">
						<div id="qrcode" style="width:300px; height:300px; margin-top:15px;"></div>
						<h3> Class id is {{cid}}. Please note this down in case this page is lost. </h3>
						<br>
						<button class="register-button">
							<a href="/downloadattendance?classId={{cid}}"> Download Attendance!</a>
						</button>

					</div>
				</div>
				<div class="screen__background">
					<span class="screen__background__shape screen__background__shape4"></span>
					<span class="screen__background__shape screen__background__shape3"></span>
					<span class="screen__background__shape screen__background__shape2"></span>
					<span class="screen__background__shape screen__background__shape1"></span>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var qrcode = new QRCode( document.getElementById( "qrcode" ), {
				text: "https://reverseproxy.eastus.cloudapp.azure.com:8080/markattendance?classId={{cid}}",
				width: 250,
				height: 250,
				colorDark: "#000000",
				colorLight: "#ffffff",
				correctLevel: QRCode.CorrectLevel.H
			} );
		</script>


	</body>
	<html>
