<html>

    <head>
        <title>Success</title>
        <script src="/cbor.js"></script>
        <meta charset="UTF-8">

        <!-- ===== Main CSS ===== -->
        <link rel="stylesheet" type="text/css" href="./style.css">

        <!-- ===== Fontawsome ICONS ===== -->
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.5.0/css/font-awesome.min.css">-->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">

        <!--===== Google Fonts =====-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
            rel="stylesheet">


        <!--Browser logo-->
        <link rel="icon" type="image/png" sizes="32x32" href="" />
    </head>

    <body>
        <div class="main-container">
            <div class="container-wrap">
                <nav class="header">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/The_FIDO_Alliance_Logo.png"
                        width="300" height="100" alt="logo" />
                </nav>
                <div class="main-section">

                    <div class="land-info">
                        <div class="title">You can exit this page

                        </div>

                    </div>
                </div>

            </div>
        </div>
